@model first.Models.Patient

@{
   
    Layout = null;
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id=" createPatientForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" id="age" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendingDate" class="control-label"></label>
                <input asp-for="AttendingDate" class="form-control" id="attendingDate" />
                <span asp-validation-for="AttendingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="submitForm()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function submitForm() {

        const name = document.getElementById('name').value;
        const age = document.getElementById('age').value;
        const email = document.getElementById('email').value;
        const attendingDate = document.getElementById('attendingDate').value;
      


        const formData = {
            Name: name,
            Age: age,
            Email: email,
            AttendingDate: attendingDate


        };


        console.log('Form Data in JSON format:', JSON.stringify(formData));

        fetch('/patients/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
