@model first.Models.Staff

@{
     Layout = null;
}

<h1>Create</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id=" createStaffForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" onclick="submitForm()" />
            </div>
        </form>
    </div>
</div>




<script>
    function submitForm() {
        
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;

        
        const formData = {
            Name: name,
            Email: email
        };

        
        console.log('Form Data in JSON format:', JSON.stringify(formData));

        fetch('/staffs/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
